<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1><a href="https://raccoon-tema.ru/"> {{title}} </a></h1>
    <img
      src="http://petspoint.ru/upload/iblock/5eb/5ebada8e9f6024c825cc4fc61073f37e.jpg"
    />
    <h2>Привет. Я енот Тема, самый известный енот в интернете!</h2>
    <p>
      50% моих подписчиков – иностранцы. За жизнью обаятельного меня следят из
      <s>Америки, Германии, Израиля, Украины и Беларуси</s>. Американские
      <br />компании даже покупают видео, лицензируют их и продают местному
      телевидению.
      <strong> Мы выпускали перекидной календарь на Hовый год</strong> и его
      <br />заказывали люди из разных стран, больше всего из Америки. Причём
      напечатан он на русском языке, с нашими праздниками. Занимаюсь
      <br />благотворительностью год. За это нам перечислили около
      <u>миллиона</u> рублей. И если сначала за одну акцию мы могли собирать по
      5 тысяч рублей, <br />то сейчас эта сумма доходит до 40 тысяч. Если
      животному нужно больше денег, мы продлеваем сборы. За два дня нуждающемуся
      могут перечислить <br />70 тысяч. Такие суммы, действительно, помогают.
      Все люди, которые ко мне обращаются, – чужие. Раньше я помогал животным из
      разных городов <br />России, но после того, как наткнулась на мошенницу,
      стараюсь сотрудничать только с кемеровскими. Мне важно самой проверять,
      куда мои <br />подписчики будут перечислять деньги. Недавно к нам
      обратились из Томской писаницы и попросили помочь еноту Масяне. Ему нужно
      было <br />провести операцию на глаза. Я, конечно же, согласилась. Знала,
      что наша аудитория не откажется помочь еноту.
      <em>В итоге, нам удалось собрать для <br />Масяни больше 50 тысяч рублей</em>. Деньги приходили даже из Америки.
    </p>
  </body>
</html>
